@import "../../../assets/styles/shared";

.c-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: $color-grey;
  vertical-align: middle;

  &--small {
    width: 0.8rem;
    height: 0.8rem;
  }

  &--big {
    width: 4rem;
    height: 4rem;
  }
}
