<div class="c-info-box">
  Dear Mr. X,
  <br><br>
  Your registration form has been successfully submited. We are currently processing your request. Details of your trip will be send for confirmation to your email and also will be visible on this site.
  <br><br>
  Below you will find the list of your chosen matches.
</div>
<ul class="o-list-bare c-tiles">
  <li class="o-list-bare__item o-pack o-pack--auto o-pack--middle c-tile" *ngFor="let match of matches">
    <div class="o-pack__item">
      <h2 class="c-tile__title">{{match.name}}</h2>
      <div class="c-tile__body">
        {{match.date | date: 'dd/MM/yyyy'}}, {{match.hour}}<br>
        {{match.city}}
      </div>
    </div>
    <a class="o-pack__item c-tile__link" [routerLink]="['/daily-schedule', match.date]" [queryParams]="{ name: match.name, hour: match.hour, city: match.city }">
      <app-icon iconName="map" className="c-icon--big"></app-icon>
      <br>
      <span>Travel details</span>
    </a>
  </li>
</ul>
<footer>
  <app-action-box bodyText="You can download all data as PDF" buttonText="Download PDF"></app-action-box>
</footer>
