<ng-container *ngIf="itineraries.length;else no_results">
<section  *ngFor="let itinerary of itineraries">
  <h2 class="c-header" *ngIf="isMatchToday && isSingleDayView; else no_match">
    {{matchDetails.name}}<br>
    <time>
      {{itinerary.date | date: 'dd/MM/yyyy'}}, {{matchDetails.hour}}
    </time>
    {{matchDetails.city}}
  </h2>
  <ng-template #no_match>
    <h2 class="c-header">
      <time>
        <span>{{itinerary.date |  date: 'EEEE'}}</span><br>
        <span>{{itinerary.date | date: 'dd/MM/yyyy'}}</span>
      </time>
    </h2>
  </ng-template>
  <section *ngFor="let item of itinerary.schedule">
    <app-travel-details [data]="item"></app-travel-details>
  </section>
  <footer *ngIf="isSingleDayView">
    <!-- TODO: add service to share click event between components -->
    <app-action-box buttonText="Next match day" bodyText="That's all for {{itinerary.date | date: 'EEEE'}}, {{itinerary.date | date: 'dd/MM/yyyy'}}" linkUrl="/daily-schedule/{{this.nextDate}}" (click)="goToNextDay($event)"></app-action-box>
  </footer>
</section>
</ng-container>

<ng-template #no_results>
  <div>No results for that day...</div>
</ng-template>


