<nav class="c-navbar">
  <ul class="o-list-bare o-pack o-pack--auto c-main-nav">
    <li class="o-list-bare__item o-pack__item c-main-nav__item">
      <a class="c-main-nav__link" routerLink="/" [routerLinkActive]="['c-main-nav__link--active']" [routerLinkActiveOptions]="{exact:true}">Matches</a>
    </li>
    <li class="o-list-bare__item o-pack__item c-main-nav__item">
      <a class="c-main-nav__link" routerLink="/calendar" [routerLinkActive]="['c-main-nav__link--active']" [routerLinkActiveOptions]="{exact:true}">Calendar</a>
    </li>
  </ul>
</nav>
