<my-date-picker #mydp class="datepicker" name="mydate" [options]="myDatePickerOptions"  (dateChanged)="onDateChanged($event)" (calendarViewChanged)="onCalendarViewChanged($event)"></my-date-picker>

<ul class="o-list-bare">
  <li class="o-list-bare__item" *ngFor="let itinerary of itineraries">
    <time class="time-bar">
      <span>{{itinerary.date |  date: 'EEEE'}}</span><br>
      <span>{{itinerary.date | date: 'dd/MM/yyyy'}}</span>
    </time>
    <ul class="o-list-bare">
      <li class="o-list-bare__item" *ngFor="let item of itinerary.schedule">
        <app-travel-details [data]="item"></app-travel-details>
      </li>
    </ul>
  </li>
</ul>
