@import "../../../assets/styles/shared";

.c-time-bar {
  @include font-size(14px);
  background-color: #c6d0e1;
  color: $color-grey-dark;
  display: block;
  padding: 0.5rem 1rem;
  position: relative;
  text-align: center;
  font-weight: $font-weight-bold;

  @include mq($until: small) {
    @include font-size(14px);
  }
}
