<div class="calendar-panel">
  <time class="calendar-panel__time">
    <span>{{currentDate | date: 'EEEE'}}</span><br>
    <span>{{currentDate | date: 'dd/MM/yyyy'}}</span>
  </time>
  <button class="calendar-panel__button" (click)="toggleCalendarVisibility()">
    <i class="k-icon k-i-calendar calendar-panel__icon"></i>
  </button>
</div>

<my-date-picker #mydp class="datepicker" name="mydate" [selDate]="selDate" [options]="myDatePickerOptions"  (dateChanged)="onDateChanged($event)" [hidden]="!calendarShouldBeVisible"></my-date-picker>
