<header class="c-page-header">
  <div class="c-page-header__event-logo" >
    <img src="../../assets/images/logo.png" alt="FIFA Beach Soccer World Cup Bahamas 2017">
  </div>
  <div class="c-page-header__event">
    <h1 class="c-page-header__title">
      {{eventName}}
    </h1>
    <time class="c-page-header__time" >{{eventTimeRange}}</time>
  </div>
  <a class="c-page-header__toggle" href="#">
    <div class="c-page-header__user">
      <img class="c-page-header__user-image" src="../../assets/images/user-image.png" alt="">
    </div>
    <i class="k-icon k-i-arrow-chevron-down c-page-header__user-icon"></i>
  </a>
</header>
