<header class="page-header">
  <div class="page-header__event-logo" >
    <img src="../../assets/images/logo.png" alt="FIFA Beach Soccer World Cup Bahamas 2017">
  </div>
  <div class="page-header__event">
    <h1 class="page-header__title">
      FIFA Beach Soccer World Cup Bahamas 2017
    </h1>
    <time class="page-header__time" >27 April - 7 May</time>
  </div>
  <a class="page-header__toggle" href="#">
    <div class="page-header__user">
      <img class="page-header__user-image" src="../../assets/images/user-image.png" alt="">
    </div>
    <i class="k-icon k-i-arrow-chevron-down page-header__user-icon"></i>
  </a>
</header>
