@import "../../../assets/styles/shared";

.c-details {

  &__content {
    padding: 1rem;
  }

  &__header {
    display: flex;
    align-items: center;
    background-color: $color-grey-light;
    border-bottom: 1px solid #dfe4ed;
    border-top: 1px solid #dfe4ed;
    line-height: 1;
    padding: 1rem;
  }

  &__title {
    @include font-size(16px);
    text-transform: capitalize;
    font-weight: $font-weight-regular;
    margin-bottom: 0;
    margin-left: 5px;

    @include mq($until: small) {
      @include font-size(14px);
    }
  }

  &__subtitle {
    @include font-size(16px);
    color: $color-dark;
    margin-bottom: 1rem;
  }

  &-list {
    @include font-size(14px);
    color: $color-dark;
    overflow: hidden;
    margin-bottom: 0;

    &__label,
    &__value {
      width: 50%;
      margin: 0;
      float: left;
    }

    &__label {
      clear: left;
      font-weight: $font-weight-bold;
    }
  }

  &__footer {
    margin: 0 1rem 2rem;
  }
}
