@import "../../assets/styles/shared";


.details {
  margin-bottom: 2rem;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dfe4ed;
    border-top: 1px solid #dfe4ed;
    padding: 1rem;
    background: $color-grey;
  }

  &__status {
    color: #86B519;
    font-weight: $font-weight-regular;

    @include mq($until: small) {
      @include font-size(14px);
    }
  }

  &-list {
    @include font-size(14px);
    color: $color-dark;
    overflow: hidden;
    padding: 1rem;
    margin-bottom: 0;

    &__label,
    &__value {
      width: 50%;
      margin: 0;
      float: left;
    }

    &__label {
      clear: left;
      font-weight: $font-weight-bold;
    }
    &__value {

    }
  }
}
