<section class="details">
  <header class="details__header">
    <h2 class="details__title u-hidden">Flight</h2>
    <i class="k-icon k-i-heart details__icon"></i>
    <strong class="details__status">Confirmed</strong>
  </header>
  <div>
    <dl class="details-list">
      <dt class="details-list__label">From:</dt>
      <dd class="details-list__value">Zurich(ZRH)</dd>
      <dt class="details-list__label">To:</dt>
      <dd class="details-list__value">Moscow(DME)</dd>
      <dt class="details-list__label">Departure:</dt>
      <dd class="details-list__value">12:20</dd>
      <dt class="details-list__label">Arrival:</dt>
      <dd class="details-list__value">16:45</dd>
      <dt class="details-list__label">Flight number:</dt>
      <dd class="details-list__value">LX 1326</dd>
    </dl>
  </div>
</section>
